@model CinemaHub.Models.Kullanici

@{ 
    ViewData["Title"] = "Kayıt";
}

<form asp-controller="Home" asp-action="Kayit">
    @*form submit edildiğinde HomeController içerisinde Kayit metoduna gönderilecek*@
    <div class="mb-3">
        <label for="KullaniciAdi" class="form-label">Kullanıcı Adı</label>
        <input type="text" class="form-control" id="KullaniciAdi" name="KULLANICIADI">
    </div>
    <div class="mb-3">
        <label for="KullaniciSoyadi" class="form-label">Kullanıcı Soyadı</label>
        <input type="text" class="form-control" id="KullaniciSoyadi" name="KULLANICISOYADI">
    </div>
    <div class="mb-3">
        <label for="sifre" class="form-label">Şifre</label>
        <input type="password" class="form-control" id="sifre" name="SIFRE">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Eposta</label>
        <input type="email" class="form-control" id="email" name="EPOSTA">
    </div>
    @*<div class="mb-3 dropdown">
            <label for="rol" class="form-label">Rol</label>
            <select asp-for="@Model.Rol" asp-items="@Model.Roller">
                <option>Rol Seçiniz</option>
            </select>
        </div>*@
    <div class="col-sm-12">
        <div class="radio">
          <label>
            <input type="radio" name="ROL" value="1">
            Admin
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="ROL" value="0">
            Kullanıcı
          </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Giriş</button>
</form>