@model IEnumerable<CinemaHub.Models.Kullanici>


@{
    ViewData["Title"] = "Çıkış";
}


<div>
    <table class="table-striped table-hover">
        <tr>
            <td>KULLANICI ADI</td>
            <td>EPOSTA</td>
        </tr>
        @if (Model != null)
        {
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.KullaniciAdi.</td>
                    <td>@m.Eposta</td>
                </tr>
            }
        }
    </table>
</div>

@*
    <div>
        Girilen kullanıcı adı: @Model.KullaniciAdi
    </div>
    <div>
        Girilen şifre: @ViewBag.sifre
    </div>*@
